.list {
  list-style: none;
}
.page {
  background: #f5f5f5;
  color: #757575;
}
.logo-blue {
  color: #2196f3;
}
.logo-black {
  color: #000000;
}

.site-nav .link {
  color: #212121;
}
.site-nav .link.current {
  color: #2196f3;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.contacts-nav .link {
  color: #757575;
}
.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: #2196f3;
}
.hero-title {
  color: #ffffff;
}
.button {
  background-color: #2196f3;
  color: #ffffff;
}
.section-title {
  color: #212121;
}
.section-team .title {
  color: #212121;
}
.features-list .title {
  color: #757575;
  color: #212121;
}
